# dumb indeed stuff
scripts/iql

# dumb adbl stuff
.config/ada
.config/brazil

# dumb things i don't care about
uv
homebrew
framer
# using herdr for now, ignore cmux until later
cmux

.config/herdr/session.json
.config/herdr/session-snapshots
.config/herdr/release-notes.json
.config/herdr/herdr.sock.agent
.config/configstore
.config/htop
.config/cli-starter-kit

# ssh configs
.ssh/config.d
.ssh/config.d/*

# vim-plug directory
.vim/plugged
.vim/plugged/*

id_rsa
id_rsa.pub
known_hosts
.netrwhist
netrwhist

log/
archive/zsh/zsh-custom/themes/*milsyobtaf*
*.zwc

# atom
atom/*-cache
atom/.*
atom/nohup.out
atom/packages/
atom/recovery/
atom/storage/
atom/blob-store
atom/split-diff/*

# Sublime Text
sublimetext3/*.id*
sublimetext3/Backup
sublimetext3/Cache
sublimetext3/Index
sublimetext3/Installed Packages
sublimetext3/Lib
sublimetext3/Local
sublimetext3/Packages/*
!sublimetext3/Packages/User*
sublimetext3/Packages/User/*.cache
sublimetext3/Packages/User/*.last-run
sublimetext3/Packages/User/*.merged-ca-bundle
sublimetext3/Packages/User/*.user-ca-bundle
sublimetext3/Packages/User/*.sublime-license
sublimetext3/Packages/User/encoding_cache.json
sublimetext3/Packages/User/oscrypto-ca-bundle.crt

# phpstorm
!phpstorm/*.jar

# karabiner
*/karabiner/automatic_backups
*/karabiner/configuration/automatic_backups

.DS_Store
.DS_Store?
