<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.kaleidoscope.alfred</string>
	<key>connections</key>
	<dict>
		<key>083A1FCA-F799-4DB0-B21C-1D5C67FE4C6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F48E9CF3-A4A2-47D7-937A-AA7A3C42A21E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>11B4C83B-674F-4B9D-8525-916E202BF3BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>830B62A9-3978-49D7-81A8-1F55E2E12359</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C7825F6-F697-47CE-922B-EBEC9971E2A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E526C57-4C65-43B1-9382-D60A42504A0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E526C57-4C65-43B1-9382-D60A42504A0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEF6118E-9DEA-482F-A3F8-438D0F4B2E8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5909993B-A139-40BC-9BCB-6C325D8C8323</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D1F4F6A-892F-4A8B-ACCD-B2AF40438199</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C376041-31BB-41FB-A05D-17048B537074</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C7825F6-F697-47CE-922B-EBEC9971E2A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A60A85B-3987-4F8A-BCB5-E0AC28806E2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C376041-31BB-41FB-A05D-17048B537074</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97F6B3C2-A7CE-489C-94D0-0A4E06C9A2DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>083A1FCA-F799-4DB0-B21C-1D5C67FE4C6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEF6118E-9DEA-482F-A3F8-438D0F4B2E8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11B4C83B-674F-4B9D-8525-916E202BF3BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kaleidoscope Team</string>
	<key>description</key>
	<string>Various ways of sending content to Kaleidoscope.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kaleidoscope Alfred Integration</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<true/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>clipboard.txt</string>
				<key>filetext</key>
				<string>{clipboard:0}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>6C376041-31BB-41FB-A05D-17048B537074</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<true/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>clipboard.txt</string>
				<key>filetext</key>
				<string>{clipboard:1}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>4E526C57-4C65-43B1-9382-D60A42504A0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/ksdiff --diff -l "Alfred Clipboard History" "$first" "$second"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>830B62A9-3978-49D7-81A8-1F55E2E12359</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ksclip</string>
				<key>subtext</key>
				<string>Compare in Kaleidoscope</string>
				<key>text</key>
				<string>Diff last 2 clipboards</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7A60A85B-3987-4F8A-BCB5-E0AC28806E2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>second</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CEF6118E-9DEA-482F-A3F8-438D0F4B2E8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>first</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1C7825F6-F697-47CE-922B-EBEC9971E2A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>11B4C83B-674F-4B9D-8525-916E202BF3BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>+public.folder</string>
					<string>+public.image</string>
					<string>+public.text</string>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Compare In Kaleidoscope</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>5909993B-A139-40BC-9BCB-6C325D8C8323</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for file in "$@"; do
  /usr/local/bin/ksdiff --diff -l "Alfred File Buffer" "$file" 
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D1F4F6A-892F-4A8B-ACCD-B2AF40438199</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>addfilestobuffer</key>
				<false/>
				<key>clearbuffer</key>
				<false/>
				<key>outputtype</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.buffer</string>
			<key>uid</key>
			<string>083A1FCA-F799-4DB0-B21C-1D5C67FE4C6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for file in "$@"; do
  /usr/local/bin/ksdiff --diff -l "Alfred File Buffer" "$file" 
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F48E9CF3-A4A2-47D7-937A-AA7A3C42A21E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>97F6B3C2-A7CE-489C-94D0-0A4E06C9A2DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow requires Kaleidoscope 2.4 (or later) and the ksdiff command line tool to be installed. See Kaleidoscope &gt; Integration for details.</string>
	<key>uidata</key>
	<dict>
		<key>083A1FCA-F799-4DB0-B21C-1D5C67FE4C6F</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>11B4C83B-674F-4B9D-8525-916E202BF3BA</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>1C7825F6-F697-47CE-922B-EBEC9971E2A3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>4E526C57-4C65-43B1-9382-D60A42504A0F</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>5909993B-A139-40BC-9BCB-6C325D8C8323</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>This will diff all compatible files from the Alfred File Buffer in a Kaleidoscope window.</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>6C376041-31BB-41FB-A05D-17048B537074</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>7A60A85B-3987-4F8A-BCB5-E0AC28806E2B</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>This will open a Kaleidoscope window comparing the last two entries in the Alfred clipboard history.</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>830B62A9-3978-49D7-81A8-1F55E2E12359</key>
		<dict>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>97F6B3C2-A7CE-489C-94D0-0A4E06C9A2DA</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Slightly different to the above. This shortcut will immediately send the contents of the Alfred File Buffer to Kaleidoscope for diffing.</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>9D1F4F6A-892F-4A8B-ACCD-B2AF40438199</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>CEF6118E-9DEA-482F-A3F8-438D0F4B2E8B</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>F48E9CF3-A4A2-47D7-937A-AA7A3C42A21E</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.kaleidoscope.app</string>
</dict>
</plist>
