"*":
  Ruler:
    enabled: true
    position: 80
  "atom-beautify":
    _analyticsUserId: "4eb46fa7-d7f2-4186-a4ef-de0a802d5884"
  "atom-color-highlight": {}
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: false
  "copy-as-rtf": {}
  core:
    disabledPackages: [
      "deprecation-cop"
      "linter"
      "wrap-guide"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: true
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  docblockr: {}
  drupal:
    fileTypesPhp: "module,install,inc,test"
  editor:
    fontFamily: "Anonymous Pro"
    fontSize: 19
    invisibles: {}
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
    scrollPastEnd: true
    showInvisibles: true
    showLineNumbers: true
    softWrap: true
  "exception-reporting":
    userId: "44890254-0af3-270e-9f07-49c05c4037ca"
  "file-icons": {}
  "git-log": {}
  "grunt-runner":
    gruntPaths: [
      "/usr/local/bin/grunt"
    ]
  linter: {}
  "linter-phpcs":
    executablePath: "/Users/milsyobtaf/.composer/vendor/bin/phpcs"
  "markdown-preview":
    useGitHubStyle: true
  "merge-conflicts": {}
  minimap: {}
  "multi-wrap-guide": {}
  "node-debugger": {}
  "php-debug":
    MaxChildren: 128
    MaxDepth: 5
    PathMaps: []
  pigments: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace: {}
".apache-config.mod_perl.source":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".apache-config.source":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".csv.tabular.text":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".diff.source":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".drupal.html.php.text":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".drupal.source":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".dust.html.text":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".ini.source":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".js.regexp.replacement.source":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".js.regexp.source":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".js.source":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".makefile.source":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".md":
  whitespace:
    removeTrailingWhitespace: false
".source.sql":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
".tabular.text.tsv":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-_:,.;<>~!@#%^&*|+=[]{}`~?"
